.cms .gridfield-queued-export__status {
  padding-top: 1em;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.gridfield-queued-export__loading {
  animation-name: rotate;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
